<h1>Dashboard#creatordash</h1>
<p>Find me in app/views/dashboard/creatordash.html.erb</p>

<%= link_to "casestudies", casestudies_path %>
<%= link_to "Traits", traits_path %>
<%= link_to "Add Traits", new_traits_path %>
<%= link_to "Assign Users to Casestudy", list_of_casestudies_path %>