<h1>Dashboard#creatordash</h1>
<p>Find me in app/views/dashboard/creatordash.html.erb</p>

<%= link_to "List of Casestudies", casestudies_path %> <br>
<%= link_to "Traits", traits_path %> <br>
<%= link_to "Add Traits", new_traits_path %> <br>
<%= link_to "Assign Users to Casestudy", list_of_casestudies_for_assigning_path %> <br>