<h1>Edit Form </h1>

<%= form_with model: @trait do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>

    <div>
        <%= form.submit %>
    </div>
<%end%>
