<h1>New Trait Form </h1>

<%= form_with model: @trait do |form| %>
    
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<%end%>